* {
  box-sizing: border-box;
  border: 2px solid rgba(243, 179, 40, 0.2);
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerRegular.woff2") format("woff2");
  font-style: normal;
}

/* header */

.header {
  padding: 1.7em 0;
}
.frame {
  padding: 0 19.6%;
}
.header__frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 8%;
  text-wrap: nowrap;

  /* todo сделать не на пикселях*/
  width: 160px;
  max-height: 20px;
}
.header__nav-block {
  display: flex;
  min-width: 85%;
  position: relative;
}

.txt {
  color: #a1a6b4;
  font-family: "Muller";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 0;
  margin: 0;
}
.txt--light {
  color: white;
}
.txt--bold {
  font-size: 20px;
  font-weight: 500;
}
.txt--gray {
  color: #a1a6b4;

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav {
  width: 65%;
  min-width: 640px;
  justify-content: space-between;
}
.nav__link {
  text-wrap: nowrap;

  color: #121723;
}
.search-block {
  height: auto;
  width: auto;
  max-height: 25px;
  max-width: 25px;
}
.search-ico {
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-flex;
  padding: 1.4rem 3.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #121723;

  font-family: "Muller";

  font-size: 20px;
  font-style: normal;
  font-weight: 500;

  line-height: normal;
}

.btn--solid {
  border: 2px solid #6d31ee;
  background: #6d31ee;
  text-align: center;

  font-size: 20px;

  font-weight: 500;
  color: white;
}
.btn--dark {
  border: 2px solid #aa9dfa;
  background: transparent;
  color: #aa9dfa;
}
/* hero */

.hero__title {
  margin: 0;
  padding: 0;

  font-family: Muller;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0.6rem;
}
.hero__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 85%;
  margin: 0;
  margin-bottom: 2.6rem;
}
.section {
  padding: 6em 0;
}
.main__frame {
  display: flex;
  flex-direction: row;
}
.hero__content {
  flex: 4;
}
.main__backgroud-content-block {
  background: url(../source/grafic/mic_big.png) no-repeat;
  background-size: 58%;
  margin-right: 10px;
  background-position: 58% bottom;
  flex: 2;

  padding: 5% 0;
  margin: -5% 0;
}
.heading {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  font-family: "Muller";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}
.podcasts-section {
  background: #e6e8ec;
}
.podcasts-secrion__list {
  justify-content: space-between;
}
.podcast-card {
  min-width: 45%;
  flex: 1;
  background-color: white;
}
.section--short {
  padding: 1.2rem 0;
}
.card {
  margin: 0 1.9rem 1.9rem 0;
  padding: 40px 0 40px 13%;
  position: relative;

  background-size: auto 100%;
  background-repeat: no-repeat;

  background-position: left;
}
.card__title {
  color: #121723;
  line-height: normal;
}
.card__description {
  font-size: 16px;
}
.podcast-card:nth-child(2n) {
  margin-right: 0;
}

.card-time-txt {
  color: #121723;
  font-family: "Muller";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* shows */

.shows__frame {
  display: flex;
  flex-direction: row;
}
.shows__left-part {
  flex: 1;
  margin-right: 1.9rem;
}
.shows__right-part {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 1rem;
}
.shows__card {
  min-width: 30%;
  flex: 1;
}
.shows__card:nth-child(3n) {
  margin-right: 0;
}
.shows__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.shows-secrion__list {
  display: flex;
  justify-content: right;
}
.card--vertical {
  padding: 20% 0 1rem 1rem;

  background-size: 100% auto;
  background-repeat: no-repeat;

  background-position: top;
}
.card-time-txt {
  margin: 0;
}
.card__title {
  margin: 0;
}
.card__description {
  color: #121723;
  font-size: 20px;
  line-height: normal;
  margin: 0;
}
.card__txt {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}
.card__link {
  color: #121723;
  font-family: "Muller";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.card__absolute-logo {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: fit-content;
  background-size: 100%;
  background-position: center;
  z-index: 3;

  width: 16%;
  height: 8%;

  border: 3px #121723 solid;
}
.btn--light {
  width: 60%;
  padding: 0.8rem 2.7rem;

  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.logo--podcast {
  top: inherit;
  bottom: 0;
  left: 0;

  background: #fff;
}
.shows__left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* guests */
.guests {
  background: #121723;
}
.heading--lite {
  color: white;
}
.guests__list {
  list-style: none;
  padding: 0;
}
.guest-card {
  display: flex;
}
.guest-card__img {
  margin-right: 1.9rem;
}
.guest-card:not(:last-child) {
  margin-bottom: 2.5rem;
}
.quest__btn {
  max-width: 30%;
  font-size: 16px;
  padding: 0.7rem 1.3rem;
}
.guest-card__content-part {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.shows__archive-block {
  min-height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.archive-block__background {
  background: url(../source/grafic/mic_big.png) no-repeat;
  background-size: 25%;
  height: 100%;
  background-position: bottom left;
  margin-bottom: 5%;
}
/* playlists */

.playlists__frame {
  display: flex;
}
.playlists__left-part {
  flex: 2;
}
.playlists__right-part {
  flex: 4;
}
.playlists__list {
  justify-content: right;
  padding-top: 1rem;
}
.playlists__heading {
  margin-bottom: 5px;
}
.playlists__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.card--playlists {
  min-width: 20%;
  padding: 175px 0.6rem 0.6rem 0.6rem;
  background-position: top center;
  background-size: 100%;

  flex: 1;
}
.card--playlists:nth-child(4n) {
  margin-right: 0;
}
/* buy */
.buy-block {
  background: #292e39;
}
.buy-block__frame {
  display: flex;
  flex-direction: row;
}
.buy-block__art-block {
  margin-right: 1.9rem;
  padding-top: 1rem;
  flex: 7;
  position: relative;
}
.buy-block__art {
  height: 100%;
  width: 100%;

  background: url(../source/grafic/Radio.png) no-repeat;
  background-size: contain;
  background-position: top center;
}

.buy-block__content-block {
  flex: 5;
}
.buy-block__btn {
  
  max-width: 30%;
 

  border: 2px solid #f0d288;
  background-color: transparent;
  color:#f0d288 ;
}
/* about */
.about {
  background-color: #121723;
}
.about__text-content {
  display: flex;
  flex-direction: row;
}
.about__text-block {
  flex: 6;
}
.about__icons-block {
  flex: 4;
}
.card--about {
  padding-top: 18rem;
  width: 23%;
}
.card--about:last-child {
  margin-right: 0;
}
.heading--accent {
  color: #f0d288;
  font-size: 48px;
  font-weight: 400;
}
/* footer */
.footer {
  background: #292e39;
}
.footer__frame {
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  position: relative;
  max-width: 40%;
  flex-wrap: wrap;
}
.nav__nav-link {
  width: 32%;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
}
