* {
  box-sizing: border-box;
  /* border: 2px solid rgba(243, 179, 40, 0.2); */
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerRegular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "MullerItalic";
  src: url("../fonts/Muller/MullerRegularItalic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "MullerBold";
  src: url("../fonts/Muller/MullerBold.woff2") format("woff2");
  font-style: bold;
}

:root {
  --color-black: #121723;
  --color-lite-black: #292e39;
  --color-gray: #a1a6b4;
  --color-lite-gray: #d2d5dd;
  --color-lite: #e6e8ec;
  --color-dark-yellow: #bb973e;
  --color-lite-yellow: #f0d288;
  --color-blue: #0039a6;
  --color-red: #d52b1e;
  --color-perple: #4f28a5;
  --color-lite-perple: #6d31ee;
  --color-lilitic: #aa9dfa;
  --color-lite-white: #f5f6f7;
  --color-white: #fff;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 1.7em 0;
  z-index: 10;
  background-color: var(--color-white);
  border: 2px solid rgba(255, 255, 255, 0.452);
}
.frame {
  padding: 0 20%;
}
.header__frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding: 2% 0;
  margin: -2% 0;

  margin-right: 8%;
  min-width: 160px;
  text-wrap: nowrap;
}
.logo {
  overflow: hidden;
}
.header__search-block {
  display: flex;
}
.logo__svg-block {
  overflow: visible;
}
.header__nav-block {
  display: flex;
  width: 100%;
  position: relative;
}

.txt {
  color: var(--color-gray);
  font-family: "Muller";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 0;
  margin: 0;
}
.italic {
  font-family: "MullerItalic";
  font-weight: 100;
}
.txt--light {
  color: var(--color-white);
}
.txt--bold {
  font-family: "MullerBold";
  font-size: 20px;
  font-weight: 500;
}
.txt--italic {
  font-family: "MullerItalic";
  font-size: 16px;
  font-style: italic;
}
.txt--gray {
  color: var(--color-gray);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav {
  width: 65%;
  min-width: 640px;
  justify-content: space-between;
}
.nav_link {
  position: relative;
}
.nav__hyper-txt {
  text-wrap: nowrap;
  line-height: normal;
  text-decoration: none;

  color: var(--color-black);
}

.search-block {
  width: 20%;
}
.search-ico {
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-flex;
  padding: 1.4rem 3.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--color-white);

  font-family: "Muller";

  font-size: 20px;
  font-style: normal;
  font-weight: 500;

  line-height: normal;
}

.btn--solid {
  border: 2px solid var(--color-lite-perple);
  background: var(--color-lite-perple);
  text-align: center;

  font-size: 20px;

  font-weight: 500;
  color: var(--color-white);
}
.btn--dark {
  border: 2px solid var(--color-lilitic);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  color: var(--color-lilitic);

  padding: 0.5rem 0.5rem;
}

.logo__svg-block {
  height: 100%;
}

/* hero */

.hero__title {
  margin: 0;
  padding: 0;

  font-family: "MullerBold";
  font-size: 60px;
  font-style: bold;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0.7rem;
}
.hero__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Muller";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 85%;
  margin: 0;
  margin-bottom: 2.9rem;
}
.section {
  padding: 5.1% 0;
  overflow: hidden;
}

.main__hero {
  padding: 93px 0;
  padding-top: 185px;
}
.main__frame {
  display: flex;
  flex-direction: row;
}
.hero__content {
  flex: 4;
}
.main__backgroud-content-block {
  margin-right: 10px;

  max-width: 40%;
  max-height: 21rem;
  flex: 2;
  position: relative;

  padding: 5% 0;
  margin: -5% 0;
}
.main__back {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../source/grafic/mic_big.png) no-repeat;
  background-size: 58%;
  background-position: center 40%;
}
.main__circles {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.heading {
  margin: 0;
  padding: 0;
  margin-bottom: 1.8rem;
  font-family: "Muller";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}
.podcasts-section {
  background: var(--color-lite);
}
.podcasts-secrion__list {
  justify-content: space-between;
}

.section--short {
  padding: 1.2rem 0;
}
.card {
  margin: 0 30px 30px 0;

  position: relative;

  background-size: auto 100%;
  background-repeat: no-repeat;

  background-position: left;
}
.podcast-card{
  display: flex;
}
.podcast-card__img {
  width: 20%;
  height: 100%;
  display: inline-block;
  margin-right: 1rem;

  background-size:  50%;
  background-position: center 80%;
  
  background-repeat: no-repeat;
}
.card__content-block {
  padding: 39px 0 39px 0;
}
.podcast-card {
  min-width: 45%;
  flex: 1;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-size: 20% auto;
}
.card__title {
  font-family: "MullerBold";
  font-size: 20px;

  color: var(--color-black);
  line-height: normal;
  margin: 0;
  margin-bottom: 0.2rem;
}
.card__more {
  text-decoration: none;
  font-size: 12px;
}

.podcast-card:nth-child(2n) {
  margin-right: 0;
}
.podcast-card:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.card-time-txt {
  color: var(--color-black);
  font-family: "Muller";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0;
  margin-bottom: 0.4rem;
}

/* shows */

.shows__frame {
  display: flex;
  flex-direction: row;
}
.shows__left-part {
  flex: 4;
  margin-right: 1.9rem;
}
.shows__right-part {
  flex: 13;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 0.8rem;
}
.shows {
  padding-bottom: 4.8%;
}
.shows__card {
  min-width: 30%;
  flex: 1;
}
.shows__card:nth-child(3n) {
  margin-right: 0;
}
.shows__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.shows-secrion__list {
  display: flex;
  justify-content: right;
}
.card--vertical {
  padding: 20.5% 0 1.2rem 1rem;

  background-clip: padding-box;
  background-size: auto;
  background-repeat: no-repeat;

  background-position: top;

  border: 1px solid var(--color-lite);
}
.card--about:nth-child(1) {
  background-position: 80% top;
}

.card__description {
  font-family: "Muller";
  color: var(--color-gray);
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.3rem;
}
.card__txt {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.1rem;
}
.card__link {
  color: var(--color-black);
  font-family: "Muller";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.card__link-arrow-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card__absolute-logo {
  overflow: hidden;
  position: absolute;

  display: block;
  width: fit-content;
  background-size: 100%;
  background-position: center;
  z-index: 3;
}

.card__absolute-logo--flag {
  width: 16%;
  height: 8%;

  border: 3px var(--color-black) solid;
  right: 0;
  top: 0;
}
.btn--light {
  width: 60%;
  padding: 0.8rem 2.7rem;

  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: 1px var(--color-black) solid;
}

.logo--podcast {
  top: inherit;
  bottom: 0;
  left: 0;
  font-size: 10px;
  padding: 0.1rem 0.5rem;

  background: var(--color-white);
}
.shows__card-descr {
  font-family: "MullerBold";
  color: var(--color-blacks);
  font-size: 20px;
}
.shows__left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* guests */
.guests {
  background: var(--color-black);
}
.guests__heading {
  margin-bottom: 0.8rem;
}
.guests__mini-title {
  margin-bottom: 0.4rem;
}
.guests__description {
  max-width: 70%;
}
.guests__content-block {
  margin-bottom: 2.5rem;
}

.heading--lite {
  color: var(--color-white);
}

.guests__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.guest-card {
  display: flex;
}

.guest-card__img {
  padding-top: 0.5rem;
  margin-right: 1.9rem;
}
.guest-card:not(:last-child) {
  margin-bottom: 2.6rem;
}
.guest-card__description {
  font-family: "MullerBold";

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  max-width: 70%;
}
.guest__btn {
  max-width: 25%;
  font-size: 16px;
  padding: 0.5rem 0.8rem;
}
.guest-card__title {
  margin: 0 0 0.3rem;
}
.guest-card__content-part {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.shows__archive-block {
  min-height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.archive-block__background {
  background: url(../source/grafic/mic_big.png) no-repeat;
  background-size: 25%;
  height: 100%;
  background-position: bottom left;
  margin-bottom: 5%;
}
/* playlists */

.playlists__frame {
  display: flex;
}
.playlists__left-part {
  flex: 10;
  margin-right: 1.9rem;
}
.playlists {
  padding-top: 5.2%;
}
.playlists__right-part {
  flex: 21;
}
.playlists__list {
  justify-content: right;
  padding-top: 0.8rem;
}
.playlists__heading {
  margin-bottom: 1rem;
}
.playlists {
  padding-bottom: 5.3%;
}
.playlists__span-logo {
  font-size: 12px;
  border-radius: 100px;
  border: 2px solid var(--color-lite);
  padding: 8px 5px;
  color: var(--color-lite);
}
.playlists__info {
  margin-bottom: 1rem;
}
.playlists__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.playlists__list .card__title {
  font-size: 16px;
  margin-bottom: 1px;
}
.card--playlists {
  min-width: 20%;
  padding: 175px 0.6rem 0.6rem 0.6rem;
  background-position: top center;
  background-size: 100%;

  flex: 1;
}
.card--playlists:nth-child(4n) {
  margin-right: 0;
}
.card--playlists:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
/* buy */
.buy-block {
  background: var(--color-lite-black);
}
.buy-block__frame {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5rem;
}
.buy-block__content-block {
  flex: 21;
}
.buy-block__art-block {
  margin-right: 1.9rem;

  /* overflow: hidden; */
  padding-top: 1rem;
  flex: 30;
  position: relative;
  margin-bottom: -10%;
  padding-bottom: 10%;
  margin-left: -20%;
  padding-left: 20%;
}
.buy-block__art {
  height: 100%;
  width: 100%;
  overflow: visible;
  background: url(../source/grafic/Radio.png) no-repeat;
  background-size: contain;
  background-position: center top;

  position: relative;
}
.buy-block__heading {
  margin-bottom: 1rem;
}
.buy-block__separation-block {
  margin-bottom: 1rem;
}
.buy-block__txt {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-bottom: 1rem;
}
.buy-block__txt:nth-child(2) {
  margin-bottom: 1.9rem;
}
.buy-block__price-txt {
  color: var(--color-white);
  font-family: "MullerBold";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0;
}
.art__absolute-block {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
}
.art__img-back {
  width: 100%;
  height: 100%;
  background: url(../source/icons/new.png) no-repeat;
  background-position: center;
  overflow: visible;
}
.art__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  color: var(--color-lite-black);
  font-size: 46px;
  font-weight: 400;
}

.buy-block__btn {
  /* max-width: 70%; */
  padding: 1.5rem 0.8rem 1.5rem 3rem;

  border: 2px solid #f0d288;
  background-color: transparent;
  color: #f0d288;
}
/* about */
.about {
  background-color: var(--color-black);
}
.about__text-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.about__text-block {
  flex: 6;
}
.about__icons-block {
  flex: 4;
}
.card--about {
  padding-top: 17rem;
  min-width: 20%;
  padding-left: 0;
  flex: 1;
  border: none;
}
.card__descr {
  font-size: 16px;
  line-height: 24px;
}
.podcasts__card-txt {
  font-size: 16px;
}
.card--about:last-child {
  margin-right: 0;
}
.heading--accent {
  color: #f0d288;
  font-size: 48px;
  font-weight: 400;
}
.about_heading {
  margin-bottom: 12px;
}
/* footer */
.footer {
  background: var(--color-lite-black);
  padding-bottom: 2rem;
}
.footer__frame {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.footer__logos {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin-bottom: 1rem;
}
.footer__nav {
  position: relative;
  max-width: 40%;
  flex-wrap: wrap;
  display: flex;
}
.nav__txt {
  display: inline;
  padding: 8% 10%;
  cursor: pointer;
}
.nav__nav-link {
  width: 32%;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
}
.footer__nav-item {
  width: 100%;
  margin: 0;
}
.about__form {
  width: 83%;
  position: relative;
}
.footer__nav-txt {
  font-size: 16px;
}
.footer__nav-link {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0;
  flex: 5;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.8rem;
  grid-column-gap: 7rem;
}
.social__logo:not(:last-child) {
  margin-right: 1.2rem;
}
.footer__nav-link:nth-child(3n) {
  margin-right: 0;
}

.about__form-textarea {
  display: flex;
  width: 100%;
  min-height: 150px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  resize: none;
  outline: none;
}
.about__form-input {
  margin-bottom: 30px;
  padding: 25px 32px;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  outline: none;
  width: 100%;
}
.about__input-wrapper {
  display: inline-block;
  width: 47%;
}
.about__input-wrapper--1 {
  margin-right: 5%;
}

.about__form-label {
  position: relative;
  display: block;
  color: #fff;
  padding-left: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}
.about__form-check {
  position: absolute;
  appearance: none;
}
.aboutus__form-check:checked + .aboutus__form-checkbox {
  background-image: url(../img/);
}
.aboutus__form-checkbox {
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url(../img/);
}
.about__form-btn {
  margin-bottom: 2rem;
}
.search-ico {
  width: 25px;
  height: 25px;
}

.search-block__form {
  position: relative;
  display: flex;
  width: 80%;
}

.search-block__input {
  width: 100%;
  position: relative;
  outline: none;
  border: none;
}
