*:focus{
  outline: 1px var(--color-lite-perple) solid;
}
*:active{
  outline: none;
}
.logo__svg-block:active{
  outline: none;
}
.nav__hyper-txt {
  position: relative;
}
.nav__hyper-txt::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-lite-perple);
  position: absolute;
  bottom: -4px;
  transform: scaleY(0);
  transition: transform 0.4s;
}

.nav__hyper-txt:hover::before {
  transform: scaleY(1);
  cursor: pointer;
}

.nav__hyper-txt:hover {
  color: var(--color-lite-perple);
}

.btn:hover {
  background-color: var(--color-lilitic);
  border-color: var(--color-lilitic);
  color: var(--color-white);
}

.nav__txt:hover {
  background-color: var(--color-lilitic);
  color: var(--color-white);
}

.btn:focus {
  background-color: var(--color-lilitic);
  outline: none;
  color: var(--color-white);
  border-color: var(--color-lite-perple);
}
.nav__hyper-txt:focus {
  background-color: var(--color-lilitic);
  outline: none;
  color: var(--color-white);
}
.nav__hyper-txt:active {
  background-color: transparent;
  color: var(--color-perple);
}
.nav__hyper-txt:active::before {
  transform: scaleY(0);
  content: none;
  display: none;
}
/*  */
.search-block__input {
  position: relative;
  z-index: 4;
}
.search-block__input{
  outline: none;
}
.search-block__input-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-block__input-line:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-lite-perple);
  position: absolute;
  bottom: -4px;
  transform: scaleX(0);
  transition: transform 0.4s;
  margin-right: -20%;
  padding-right: 20%;
}

.search-block__form * {
  transform: scaleX(0);
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 80ms;
}

.header__search-block:hover .search-block__ico path {
  stroke: var(--color-lilitic);
}

.header__search-block:hover .search-block__form *,
.header__search-block:focus .search-block__form * {
  transform: scale(1);
}
.header__search-block:hover .search-block__input-line::after {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
}
.search-block__input:focus + .search-block__input-line::after {
  content: " ";
  transform: scale(1) !important;
}
.search-block__input:focus,
.search-block__input:focus + .search-block__input-line {
  transform: scale(1);
}
.card {
  transition: transform 0.1s linear;
}

.card:hover {
  background-color: var(--color-lite-white);
  transform: scale(1.01);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card--playlists:hover {
  outline: 1px var(--color-lite-gray) solid;
}
.card--about:hover {
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}
.btn--accent {
  transition: 0.2s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-image: url(../source/icons/Ylogo.png);
  background-repeat: no-repeat;
  background-position: 13px center;
}
.btn--accent:hover {
  color: var(--color-dark);
  background-color: var(--color-lite-yellow);
  border-color: var(--color-lite-yellow);
  transition: 0.4s all cubic-bezier(0.19, 1, 0.22, 1);
  background-image: url(../source/icons/Ylogo-dark.png);
}
.social__logo,
.about__form-label:hover{
  cursor: pointer;
}

.card__link-arrow-block:hover .card__link {
  color: var(--color-lite-perple);
}
.card__link-arrow-block:hover path {
  stroke: var(--color-lilitic);
}
.social__logo:hover path {
  stroke: var(--color-lilitic);
  fill: var(--color-lilitic);
}
.card__link-arrow-block:focus{
  background-color: var(--color-lilitic);
  color: var(--color-white);
  outline: none;
}
.card__link-arrow-block:focus *{
  
  color: var(--color-white);
  fill: var(--color-white)
}

.card__link-arrow-block:active{
  background-color: transparent;
  color: var(--color-perple);
  outline: none;
}
.card__link-arrow-block:active *{
  
  color: var(--color-perple);
  fill:  var(--color-perple);
}
.card__more:focus{
  background-color: var(--color-lilitic);
  color: var(--color-white);
  outline: none;
}
.btn:active{
  background-color: var(--color-perple);
  color: var(--color-white);
  border-color: var(--color-perple) ;
}

.btn--accent:focus{
  background-color: var(--color-dark-yellow);
  border-color: var(--color-lite-yellow);
  color: var(--color-black);
}
.btn--accent:active{
  background-color: var(--color-dark-yellow);
  border-color: var(--color-dark-yellow);
  color: var(--color-black);
}
.card__more:active{
  color: var(--color-perple);
  background-color: transparent;
}
.about__form-textarea:focus,
.about__form-input:focus{
  border-color: var(--color-lite-perple);
}
.about__form-checkbox:focus{
  outline: 1px   var(--color-lite-perple) solid ;
  transform: scale(120%);
}
.social__logo:focus{
  outline: none;
}
.social__logo:focus *{
  fill: var(--color-lilitic)
}
.footer__nav-item:focus{
  outline: none;
}
.footer__nav-item:focus >*{
  outline: none;
  background-color: var(--color-lilitic);
  color: var(--color-white);
}